# -------------------------
# Flutter/Dart/Pub
# -------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
**/build/
**/ios/Flutter/.last_build_id

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# API Docs
doc/api/

# -------------------------
# IDEs & Editors
# -------------------------
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code (décommenter si non utilisé en équipe)
#.vscode/

# Android Studio builds
/android/app/debug
/android/app/profile
/android/app/release

# -------------------------
# Miscellaneous
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
